.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heding-on-p1 {
  position: absolute;
  width: 349px;
  height: 107px;
  left: 62px;
  top: 259px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 107px;
  /* identical to box height */

  color: #000000;
}
.para-on-p1 {
  position: absolute;
  width: 445px;
  height: 141px;
  left: 62px;
  top: 413px;

  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;

  color: #000000;
}
.img2-on-p1 {
  position: absolute;
  width: 443.32px;
  height: 502.6px;
  left: 569px;
  top: 141px;

  background: #000000;
}
.navbar1 {
  position: absolute;
  width: 1440px;
  height: 101px;
  left: 0px;
  top: 0px;

  background: rgba(61, 110, 207, 0.15);
}
